@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* FOR ALL PAGES */
* {
	margin:0;
	padding:0;	
}
header,nav,article,footer,aside,main,section{
	display:block;
}
ul,li{
	text-decoration: none;
	list-style-type: none;
}
a{
	text-decoration: none;
	color:black;
}

@font-face {
	font-family: gil;
	src: url(../fonts/gillsans-light.ttf);
}

.clear {
	clear: both;
}

@media (max-width: 500px){	
	#wrapper{
		width:100%;
		margin:0 auto;
	}
	#title_section{
		width: 100%;
		height: 30px;
		background-color: #000000;/*#6d6e71*/
		color: #ffffff;
		text-align: center;
		font-family: Open Sans,arial,sans-serif;	
		font-size: 13px;
		padding-top: 4px;
	}
	#main_nav {
		width: 100%;
		height: 35px;
		background-color: #ffffff;
		font-family: Open Sans,arial,sans-serif;
	}
	#main_nav>ul {
		height: 100%;
	}
	#main_nav li {
		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
	}
	#main_nav a {
		display: block;	
		padding-top: 5px;
	}
	#main_nav img {
		width: 20px;
		height: 20px;
	}
	.active {
		background: #000000;/*#6d6e71*/
	}
	.active>a {
		color: #ffffff;
	}
	#animal_nav {
		width: 80%;
		height: 45px;
		font-family: Open Sans,arial,sans-serif;	
		border-top: 1px solid #CBCBCB;
		border-bottom: 1px solid #CBCBCB;
		float: left;
	}
	#animal_nav ul {
		width: 100%;
		height: 100%;
	}
	#animal_nav li {
		width: 20%;
		height: 100%;
		float: left;
		text-align: center;
		border-right: 1px solid #CBCBCB;
	}
	#animal_nav img {
		width: 90%;
		height: 90%;
	}
	#add_animal {
		width: 19%;
		height: 45px;
		float: left;
		border-top: 1px solid #CBCBCB;
		border-bottom: 1px solid #CBCBCB;
		border-left: 1px solid #CBCBCB;
		text-align: center;
	}
	#add_animal>a {
		display: block;
		height: 100%;
		width: 100%;
	}
	#add_animal>a>img {
		width: 65%;
		height: 65%;
		padding-top: 10%;
	}
	#simple_details {
		width: 100%;
	}
	#simple_details>section {
		width: 100%;
		height: 50px;
		font-family: Open Sans,arial,sans-serif;
		border-bottom: 1px solid #CBCBCB;
	}
	.simple_detail_edit_img, .simple_detail_desc {	
		float:left;
		height: 100%;
		position: relative;
	}
	/* section that holds the edit img  */
	.simple_detail_edit_img {	
		width: 19.5%;
		height: 100%;
		border-right : 1px solid #CBCBCB;
		background: #ffffff url("../images/edit.png") no-repeat center;
		background-size: 70% 70%;
	}
	/*.simple_detail_edit_img>img {
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 30%;
		top: 15%;
	}*/
	.edit_mode {
		background: #f15d59 url("../images/editclicked.png") no-repeat center;
		background-size: 70% 70%;
	}
	.simple_detail_desc {	
		width: 80%;
		height: 100%;
	}
	.simple_detail_desc>section {
		position: absolute;
		top: 28%;
	}
	.simple_detail_desc>section:nth-child(1) {
		left: 8%;
	}
	.simple_detail_desc>section>input,.simple_detail_desc>section>input:focus {
		outline: 0;
		border: 0px solid;
		font-family: Open Sans,arial,sans-serif;
		font-size: 16px;
	}
	.simple_detail_desc>section:nth-child(2) {
		color: red;
		right: 8%;
	}
	#complex_details{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #e9e9e9;
	}
	.scroll_list {
		width: 80%;
		margin: 0 auto;
		padding-right: 20px;
		padding-left: 20px;
		border: 1px solid #000000;
		background-color: #ffffff;
	}
	.scroll_list>ul {
		margin-top: 20px;
		margin-bottom:  20px;
		border: 1px solid #000000;
	}
	/* first li of section scroll_list */
	.scroll_list_title {
		width:100%;
		border-bottom: 1px solid #CBCBCB;
		font-family: Open Sans,arial,sans-serif;
		font-size: 14px;
	}
	.scroll_list_title>section {
		padding-top: 5px;
		float: left;
	}
	.scroll_list_title>section:nth-child(1){
		width: 86%;
		padding-left: 8px;
	}
	.scroll_list_title>section:nth-child(2){ /* plus */
	}
	.scroll_list_title>section:nth-child(2)>img{
		width: 25px;
		height: 25px;
	}
	/* last li of section scroll_list */
	.scroll_list_arrow {
		width:100%;
		border-top: 1px solid #000000;	
	}
	.scroll_list_arrow>section {
		width:25%;
		margin: 0 auto;
	}
	.scroll_list_arrow img {
		width: 50px;
		height: 30px;
	}
	/* all other sections  */
	.scroll_list_item{
		width: 100%;
		height: 100px;
		border-bottom: 1px solid #CBCBCB;
		font-family: Open Sans,arial,sans-serif;
	}
	.scroll_list_item>section {
		float: left;
	}
	.scroll_list_item>section:nth-child(1) { /* img */
		width: 30%;
	}
	.scroll_list_item>section:nth-child(1)>img {
		width: 75%;
		height: 75%;
		padding-left: 10%;
		padding-top: 27%;
	}
	.scroll_list_item>section:nth-child(2) {
		width: 70%;
	}
	.scroll_list_item>section:nth-child(2)>section {
		width:100%;
		position: relative;
	}
	.edit_button{
		position: absolute;
		right: 4%;	
	}
	.edit_button>img {
		display: block;
		width: 25px;
		height: 25px;
		padding-top: 8px;
	}
	.scroll_list_row_details {
		padding-top: 15px;
	}
	/* new animal page */
	#new_animal {
		width: 90%;
		border: 1px solid #CBCBCB;
		margin: 0 auto;
	}
	#new_animal_title,#new_animal_details,#new_animal_form p {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #CBCBCB;
		font-family: Open Sans,arial,sans-serif;
		font-size: 18px;
	}
	#new_animal_title{
		text-align: center;
	}
	#new_animal_details {
		padding-left: 6px;
	}
	#new_animal_pic {
		height: 70px;
		border-bottom: 1px solid #CBCBCB;
	}
	#new_animal_pic>section {

	}
	#new_animal_form p {
		padding-left: 6px;
	}
	#new_animal_done {
		display: block;
		margin: 10px auto;
	}


	/* LOGIN PAGE */
	.login_body {
		background-color: #f05d58;
	}
	#loginIcon{
		width: 100%;
		padding: 25% 0 25% 0;
		text-align: center;
	}
	#loginForm{
		text-align: center;
	}
	.textInput{
		width: 75%;
		height: 78px;
		padding-left: 10%;
		margin-bottom: 26px;
		font-size: 24px;
		font-family:gil,Verdana, sans-serif;
	}
	#loginButton{
		display:none;
	}
	#loginSectionButton{
		cursor:pointer;
	}
}
