<section id="simple_details">
	<section> <!-- name field -->
		<section class="simple_detail_edit_img" ng-click="editDetailClicked('animalName')"
				 ng-class="{'edit_mode' : editname}"> 
		</section>
		<section class="simple_detail_desc"> 
			<section> <input ng-readonly="!currAnimal.editname" ng-model="currAnimal.animalName"> 
			</section> 
			<section ng-if="isInEditMode('animalName')" ng-click="doneEditClicked('animalName')"> 
				DONE </section>
		</section>
		<div class="clear"></div>
	</section>
	<section> <!-- age field -->
		<section class="simple_detail_edit_img" ng-click="editDetailClicked('animalAge')"
				 ng-class="{'edit_mode' : editage}">  
		</section>
		<section class="simple_detail_desc"> 
			<section> Age :
				<input ng-readonly="!currAnimal.editage" ng-model="currAnimal.animalAge">
			</section> 
			<section ng-if="isInEditMode('animalAge')" ng-click="doneEditClicked('animalAge')"> 
				DONE </section>
		</section>
		<div class="clear"></div>
	</section>
	<section> <!-- weight field -->
		<section class="simple_detail_edit_img" ng-click="editDetailClicked('animalWeight')"
				 ng-class="{'edit_mode' : editweight}">   
		</section>
		<section class="simple_detail_desc"> 
			<section> Weight :
				<input ng-readonly="!currAnimal.editweight" ng-model="currAnimal.animalWeight">
			</section> 
			<section ng-if="isInEditMode('animalWeight')" ng-click="doneEditClicked('animalWeight')"> 	
				DONE </section>
		</section>
		<div class="clear"></div>
	</section>			
</section>
<section id="complex_details"> <!-- ng-controller="notificationCtrl" -->
		<section class="scroll_list">
			<!-- vaccination details on the current animal -->
			<ul>
			    <li class="scroll_list_title" ng-class="{'open_scroll_list': vaccItemOpen()}">
			    	<section> Vaccination </section>
			    	<!-- <section> 
			    		<img src="images/add.png" 
			    		ng-click="createNoti('Vaccination','vacName','2015-07-02')"> 
			    	</section>  -->
			    	<div class="clear"></div>
			    </li>
			    <ng-switch on="vaccItemOpen()">
			    	<section ng-switch-when="true">
					    <section class="most_imp_detail">
					    	<img src="images/vaccination.png">
					    </section>
					    <section class="sub_title_complex_details">
					    	<p> all </p>
					    	<!-- <img> -->
					    </section>
					     <!-- new vaccination form will be displayed if the list is empty-->
						<section ng-hide="!isVaccListIsEmpty()">
							<form class="new_complex_details_form" ng-submit="createRec('animalVaccination')">
								<p>
									<img>
									<label> Name:  </label>
									<input type="text" name="notiName" ng-model="record.recName">
									<div class="clear"></div>
								</p>
								<p>
									<img>
									<label> Received:  </label>
									<input type="date" name="received" ng-model="record.recReceivedDate">
									<div class="clear"></div>
								</p>
								<p>
									<img>
									<label> Expired:  </label>
									<input type="date" name="expired" ng-model="record.recExpiredDate">
									<div class="clear"></div>
								</p>
								<input type="submit" value="Done">
							</form>
						</section>
						<!-- list of all vaccination the current animal has -->
					    <section ng-repeat="vaccination in currAnimal.animalVaccination">
					       	<article class="scroll_list_item">
					       		<section><img src="images/vaccination.png"></section>
					       		<section>
					       			<section>
					       				<section class="edit_button"><img src="images/edit.png"></section>
					       			</section>
					       			<section class="scroll_list_row_details">{{vaccination.name}}</section>
					       			<section class="scroll_list_row_details">Date: {{vaccination.receivedDate | date:'MM/dd/yy'}} ,Exp: {{vaccination.expDate | date:'MM/dd/yy'}}</section>
					       		</section>	  	  
					       		<div class="clear"></div>
					       	</article> 
					     </section>
					</section>
			    </ng-switch>
			    <li class="scroll_list_arrow">
			       <section ng-click='openVaccList("open")'><img src="images/arrow_down.png"></section>        
				</li>  
			</ul>
			<!-- food details on the current animal -->
			<ul>
			    <li class="scroll_list_title">
			    	<section> Food Header </section>
			    <!--	<section> <img src="images/add.png" ng-click="createFoodNoti('111TOM','furina','1','200')"> 
			    		</section> -->
			    	<div class="clear"></div>
			    </li>
			    <ng-switch on="foodItemOpen()">
			    <!-- new food form will be displayed if the list is empty-->
				<section ng-switch-when="true" ng-hide="!isFoodListIsEmpty()">
					<p> new food </p>
				</section>
				<!-- list of all food stuff the current animal has -->
			    <section ng-switch-when="true" 
			    			ng-repeat="food in currAnimal.animalFood">
			       	<article class="scroll_list_item">
			       		<section><img src="images/food.png"></section>
			       		<section>
			       			<section>
			       				<section class="edit_button"><img src="images/edit.png"></section>
			       			</section>
			       			<section class="scroll_list_row_details">{{food.foodName}} , {{food.foodBrand}}</section>
			       			<section class="scroll_list_row_details">{{food.foodBagPrice}} $ per bag</section>
			       		</section>	  	  
			       		<div class="clear"></div>
			       	</article> 
			     </section>
			    </ng-switch> 
			    <li class="scroll_list_arrow">
			       <section ng-click='openFoodList("open")'><img src="images/arrow_down.png"></section>        
				</li>  
			</ul>
			<!-- care details on the current animal -->
			<ul>
			    <li class="scroll_list_title">
			    	<section> Care Header </section>
			    	<!-- <section> <img src="images/add.png" ng-click="createNoti('Care','CareName','10.6.15')"> 
			    			</section> -->
			    	<div class="clear"></div>
			    </li>
			    <ng-switch on="careItemOpen()">
			    <!-- new care form will be displayed if the list is empty-->
				<section ng-switch-when="true" ng-hide="!isCareListIsEmpty()">
					<p> new care </p>
				</section>
				<!-- list of all care stuff the current animal has -->
			    <section ng-switch-when="true" 
			    			ng-repeat="care in currAnimal.animalCare">
			       	<article class="scroll_list_item">
			       		<section><img src="images/care.png"></section>
			       		<section>
			       			<section>
			       				<section class="edit_button"><img src="images/edit.png"></section>
			       			</section>
			       			<section class="scroll_list_row_details">{{care.careType}}</section>
			       			<section class="scroll_list_row_details">Date: {{care.careDate | date:'MM/dd/yy'}}
			       				<!-- , Exp: {{care.careExpire | date:'MM/dd/yy'}} --></section>
			       		</section>	  	  
			       		<div class="clear"></div>
			       	</article> 
			     </section>
			    </ng-switch> 
			    <li class="scroll_list_arrow">
			       <section ng-click='openCareList("open")'><img src="images/arrow_down.png"></section>        
				</li>  
			</ul>
		</section>
</section>

<section id="delete_animal" ng-click="deleteAnimal()"> Delete animal
