<div id="wrapper" class="login_body">
		<header>
		</header>
		<main>
			<section id="loginIcon"><img src="images/loginIcon.png" ></section>
			<form ng-submit="login()" id="loginForm">
				<p>
					<input type="mail" name="mail" ng-model="user.email" placeholder="Email" class="textInput">
				</p>
				<p>
					<input type="password" name="pass" ng-model="user.pass" placeholder="Password" class="textInput">
				</p>
				<!--<section id="loginSectionButton"><p>Login</p></section>  id="loginButton" -->
				<input type="submit" value="login">
			</form>
			<section id="spacer"></section>
		</main>
</div>

