<div id="wrapper">
		<header>
			<section id="title_section"> <h1> FURRYCARE </h1> </section>
			<nav id="main_nav">
				<ul>
					<li class='active'> <a href="index.html#/home"> <img src="images/animals_icon.png"> </a> </li>
					<li> <a href="index.html#/notification"> <img src="images/alerts_icon.png"> </a> </li>
					<div class="clear"> </div>
				</ul>
			</nav>
		</header>
		<main>
			<nav id="animal_nav">
				<ul>
					<li ng-repeat="animal in user.animals">
						<img ng-src="images/{{animal.animalPic}}">
					</li>
					<li ng-class="{'active' : true}"> 
						<section id="def_circle"> </section>
					</li>
				</ul> 
			</nav>
			<h1> newww animal </h1>
			<section id="new_animal">
				<section id="new_animal_title"> New </section>
				<section id="new_animal_pic"> 
						<input type='file' id="imgInp" multiple accept='image/*' style="display:none">
						<img id="profileImage" ng-src="#" alt="profileImage" class="circlephoto" 
						style="cursor:pointer">
				</section>
				<section id="new_animal_details"> Details </section>
				<section id="new_animal_form"> 
					<form ng-submit="addNewAnimal()">
						<p>
							<label> Name:  </label>
							<input type="text" name="name" ng-model="animal.animalName">
						</p>
						<p>
							<label> Age: </label>
							<input type="number" name="age" ng-model="animal.animalAge"> 
						</p>
						<p>
							<label> Weight: </label>
							<input type="number" name="weight" ng-model="animal.animalWeight"> 
						</p>

						<input id="new_animal_done" type="submit" value="Done">
					</form>
				</section>
			</section>
		</main>
</div>
