<!DOCTYPE html>
<html ng-app="furrycareApp">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width">
			<link rel="stylesheet" href="css/style.css">
			<title> Login </title>
	</head>
	<body>
		<div id="wrapper" ng-controller="LoginCtrl">
				<header>
				</header>
				<main>
					<h1> login.. </h1>
					<form ng-submit="login()">
						<p>
							<label> mail:  </label>
							<input type="mail" name="mail" ng-model="user.email">
						</p>
						<p>
							<label> password: </label>
							<input type="password" name="pass" ng-model="user.pass"> 
						</p>
						<input type="submit" value="login">
					</form>
				</main>
		</div>
		<script src="js/lib/angular/angular.min.js"> </script>
		<script src="js/furrycare.js"> </script>
	</body>
</html>
