<!DOCTYPE html>
<html ng-app="furrycareApp">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width">
			<link rel="stylesheet" href="css/style.css">
			<title> Login </title>
	</head>
	<body>
		<div id="wrapper" class="login_body" ng-controller="LoginCtrl">
				<header>
				</header>
				<main>
					<section id="loginIcon"><img src="images/loginIcon.png" ></section>
					<form ng-submit="login()" id="loginForm">
						<p>
							<input type="mail" name="mail" ng-model="user.email" placeholder="Email" class="textInput">
						</p>
						<p>
							<input type="password" name="pass" ng-model="user.pass" placeholder="Password" class="textInput">
						</p>
						<section id="loginSectionButton"><p>Login</p></section>
						<input type="submit" id="loginButton" value="login">
					</form>
					<section id="spacer"></section>
				</main>
		</div>
		<script src="js/lib/angular/angular.min.js"> </script>
		<script src="js/lib/angular/angular-cookies.js"> </script>
		<script src="js/jquery-1.11.1.min.js"> </script>
		<script src="js/login.js"> </script>
		<script src="js/furrycare.js"> </script>
	</body>
</html>
